* {
  margin: 0;
  padding: 0;
}

body {
  background: #ebebeb;
  height: 100vh;
  font-family: 'Open Sans Condensed';
  font-weight: 300;
}

h1 {
  font-size: 40px;
  font-family: 'Fjalla One';
  margin-bottom: 10px;
  letter-spacing: 2px
}

h3 {
  font-size: 20px;
}

.header {
  text-align: center;
  height: 200px;
  background: #2E294E;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.controls {
  text-align: center;
  padding: 20px 0;
}

.controls a {
  padding: 2px 15px;
  margin: 10px;
  background: #ccc;
  color: black;
  text-decoration: none;
  border-radius: 20px;
  opacity: 0.5;
}

.controls .active-control {
  opacity: 1;
  background: #D499B9;
  color: white;
}

.streamer-list {
  padding-top: 30px;
}

.streamer-list h3 {
  display: inline-block;
  margin-right: 20px;
  margin-left: 30px;
}

@media screen and (max-width: 650px) {
  .streamer-list h3 {
    display: block;
  }
}

.streamer-list p {
  display: inline-block;
}

@media screen and (max-width: 650px) {
  .streamer-list p {
    display: block;
    margin-left: 30px;
  }
}

.streamer {
  background: white;
  margin: 0 auto 20px;
  width: 600px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px 30px 20px 0;
  box-shadow: 2px 2px 5px #ccc;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .streamer {
    width: 80%;
    padding: 20px 20px 20px 0;
  }
}

.streamer .status {
  position: absolute;
  width: 10px;
  top: 0;
  bottom: 0;
  background: #ccc;
}

.streamer .online {
  background: #D499B9;
}

.streamer .link {
  position: absolute;
  right: 20px;
  bottom: 18px;
  text-decoration: none;
  background: #2E294E;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
}
